//this fixes an error with the icons, do not remove
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import "_sandstone_variables.scss"; // swap this out with another variables file to change theme
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$shadow:   lighten($gray-darker, 10%); 

body{
    background-color: lighten($gray-darker, 5%);
}
a {
    text-decoration: none!important;
}
.hrule{
    width: 100%;
    border: 1px solid $shadow;
    height: 2px;
    margin: 20px 0px 20px 0px;
}
.linkedin-header{
    h3{
        padding-bottom: 0px;
    }
    
}
.site-navbar{
    // background-color: $gray-dark;
    // min-height: 100px;
    box-shadow: 0 .5px .5px .5px $shadow;
    background-color: $gray-darker;
    #site-brand{
        font: 2em "Brush Script Std", cursive;
    }
}
.main-container{
    margin-top: 60px;
}
.add-margin-bottom{
    margin-bottom: 2.5%; 
}
.add-margin-bottom-2{
    margin-bottom: 5%; 
}
.content-section{
    background-color: lighten($gray-darker, 5%);
    box-shadow: 0 .5px .5px .5px $shadow;
    margin-bottom: 1px;
    color: $gray-lighter;
    .code-links{
        // box-shadow: 0 0 .5px .5px $shadow;
        .icon{
            margin-top: 16px;
            height: 65px;
            font-size: 200%;
        }
        
        button{
            font-size: 200%;
            color: $gray-darker;
        }

    }
    .panel-body{
        padding: 15px 0px 15px 0px;
        color: $gray-darker; 
    }
    .project-image{
        border: solid $shadow 4px;
    }
    h1, h5{
        margin-top: 0px;
    }
    @media (max-width: $screen-sm) and (min-width: 0px) {
        h1{
        font-size: 190%;
        }
    
    }
    @media (min-width: $screen-lg) {
        h1{
            font-size: 325%;
        }
        button{
            min-width: 125px;
        }
        h3{
            font-size: 225%;
        }

  }
}
.main-footer{
    margin-top: 3px;
    // background-color: $gray-darker;
    min-height: 200px;
}